@page "/dashboard/admin"
@using HealthCareManager.Client.Authentication
@using Microsoft.AspNetCore.Authorization
@inject IDialogService DialogService;
@inject JwtAuthStateProvider JwtAuthStateProvider;
@attribute [Authorize]

<PageTitle>Admin's Dashboard</PageTitle>

<div class="container">

    <div class="text-center">
        <MudText Typo="Typo.h5">Welcome to Admin's Dashboard</MudText>
    </div>

    <div class="mt-2">
        <MudText Class="text-center" Typo="Typo.subtitle2">Hi @(_name), Here's what you can do</MudText>
        <div class="buttons">
            <MudButton Class="buttons-item" Style="margin-right: 5px" Variant="Variant.Outlined" OnClick="@AddUser">Add New User</MudButton>
            <MudButton Class="buttons-item" Variant="Variant.Outlined" OnClick="@AddPatient">Add New Patient</MudButton>
        </div>
    </div>

</div>

@code {
    string _name = "";

    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;

    void AddUser() => DialogService.Show<AddUserDialog>();

    void AddPatient() => DialogService.Show<AddPatientDialog>();

    protected override void OnInitialized()
    {
        _name = JwtAuthStateProvider.GetUserName();
    }
}