.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}

.buttons{
	display:flex;
	flex-direction: row;
	margin-top: 2px;
	justify-content: space-between;
	align-items: center;
}

.buttons-item{
	margin-right: 2px;
	background:red;
	border: solid 1px red;
}