@page "/dashboard/pharmacist"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Pharmacist's Dashboard</PageTitle>

<h1>Pharmacist's Dashboard</h1>

<h6>Page coming soon...</h6>

@code{

}