@using MedicalEventModel = HealthCareManager.Shared.Models.MedicalEvent

<div class="mb-2">
    <MudDatePicker ReadOnly Label="Time of Occurence" @bind-Date="@Data.Time" />
    <MudTextField ReadOnly T="@string" contenteditable="false" InputType="InputType.Text" Lines="3" Variant="Variant.Outlined" Label="Info" @bind-Text="@Data.Info" />
</div>

@code{
    [Parameter]
    public MedicalEventModel Data { get; set; } = new();

    [Parameter]
    public EventCallback<MedicalEventModel> DataChanged { get; set; }
}